/**
 *
 * Apply your custom CSS here
 *
*/


/* ====================
Custom Page Main Body
==============*/


html, body {	
	width:90%;
	margin-left: 5%;
}


.page-container{
background:rgb(230,230,230);
}

a {
}



/* ====================
Custom Sidebar menu 
==============*/
.sidebar-menu{
//width:300px;
background-color: rgb(13,13,13);
}

@media screen and (min-width: 768px)
{
	.sidebar-menu.collapsed {
	  width: 110px;

	}
}

.sidebar-menu .logo-env .logo {
text-align:center;
float:none;

}

.title{
font-family: Clarendon Regular;
font-weight:bold;
 font-size:19px;
 color: rgb(255,255,255)
}

.title:hover{
font-size: 21px;
}

.title-inner{
	font-Size:16px;
	font-family:Helvetica Neu Regular;
	 color: rgb(255,255,255);
}

.title-inner:hover{
	font-Size:17px;

}


.sidebar-menu.fixed .sidebar-menu-inner
{
left:inherit;
}

.sidebar-menu .main-menu a{
	border-bottom: 1px solid rgb(71,71,71);
}

.sidebar-menu .main-menu ul li a {
	padding-left:110px;
	line-height:0.5em;
}

/* ====================
This is for images into division of Discover Create and Feature
==============*/

.discover-image img{
width:100%;
max-height:500px;
display:block;

}

.create-image img{
width:100%;
max-height:325px;
display:block;


}

.onimage-title{
background:black;
width:100%;
opacity:0.85;
max-height:85px;
position:absolute;
bottom:0;
left:0px;
}

.onimage-title span{

font-Size:33px;
font-weight: bold;
color:white;
margin-left:10px;
}


/* ====================
This is for Boxes under three main img 
==============*/





.skyblue-box{
background:rgb(70,190,194);
border:2px solid rgb(230,230,230);
height:300px;
}


.skybluelogo-image{
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
	width:140px;
}
.skyblue-box-text{
position:absolute;
bottom:0;
//margin-left:5px;
font-Size:3em;
color:white;
font-family:Helvetica Neu Light;
}
/* ====================
Custom Top navigation bar
==============*/
.navbar{
height: 100px;
font-Size: 19px;

}

/* ====================
Custom main-content navigation for event list
==============*/
.eventListNav{
	list-style-type: none;
	width: 50%;
	display: inline-block;
}

.eventListNav li{
	float: left;
}

.eventListNav li a{
	color: purple;
    padding: 0.5em 1em;
    font-size: 1em;
    text-decoration: none;
    margin: 0;
}

.eventListNav li + li a{
    border-left: 0.3em solid purple;
}

.eventListNav .selected{
	font-weight: bold;
	};
}
/* ====================
Custom main-content for ticket page
==============*/
.ticket-header{
	color: purple;
}

/* ====================
Custom main-content navigation for event list x-small
==============*/
.button-eventDropDown{
	float: left;
}

.eventListNavxs li a{
	color: purple;
	float: left;
	margin: 0;
	padding: 0;
}
.eventListNavxs li a:hover{
	color: purple; 
}

/* ====================
Custom main-content navigation for input field and search button
==============*/
.event-list-search{
	display: inline;
	float: right;
	width: 100%;
	height: 1.1em;
}
.searchBar{
	float: right;
}
.event-list-search-input{
	display: inline-block;
	height: 31px;
}
.searchBtn{
	display: inline-block;
	position: relative;
	left: 190px;
	bottom: 36px;
	float: right;
}

.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
/* ====================
Custom main-content event list table
==============*/

@media screen and (min-width:1px){
.event-list-table-heading tr{
	font-size: 9px;
}}
@media screen and (min-width:970px){
.event-list-table-heading tr{
	font-size: 7px;
}}
@media screen and (min-width:1053px){
.event-list-table-heading tr{
	font-size: 7px;
}}
@media screen and (min-width:1113px){
.event-list-table-heading tr{
	font-size: 8px;
}}
@media screen and (min-width:1131px){
.event-list-table-heading tr{
	font-size: 9px;
}}
@media screen and (max-width: 1100px){
.eventListNav li a:nth-child(odd){
	font-size: 10px;
}}
@media screen and (min-width:1262px){
.event-list-table-heading tr{
	font-size: 12px;
}}
@media screen and (min-width:1280px){
.event-list-table-heading tr{
	font-size: 13px;
}}
@media screen and (min-width:1343px){
.event-list-table-heading tr{
	font-size: 15px;
}}

.tab-pane{
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}
/* ====================
Custom main-content event list table "create" button
==============*/
.button-create{
	float: right;
	position: relative;
	bottom: 18px;
} 
.button-create-btn{
	-webkit-border-radius:3em / 1em;
	-moz-border-radius:3em / 1em;
	border-radius:3em / 1em;
}
.button-creat-clear{
	clear:both;
}