/**
 *
 * Apply your custom CSS here
 *
*/


/* ====================
Custom Page Main Body
==============*/


html, body {	
	width:90%;
	margin-left: 5%;
}


.page-container{
background:rgb(230,230,230);
}

a {
}



/* ====================
Custom Sidebar menu 
==============*/
.sidebar-menu{
//width:300px;
background-color: rgb(13,13,13);
}

@media screen and (min-width: 768px)
{
	.sidebar-menu.collapsed {
	  width: 110px;

	}
}

.sidebar-menu .logo-env .logo {
text-align:center;
float:none;

}

.title{
font-family: Clarendon Regular;
font-weight:bold;
 font-size:19px;
 color: rgb(255,255,255)
}

.title:hover{
font-size: 21px;
}

.title-inner{
	font-Size:16px;
	font-family:Helvetica Neu Regular;
	 color: rgb(255,255,255);
}

.title-inner:hover{
	font-Size:17px;

}


.sidebar-menu.fixed .sidebar-menu-inner
{
left:inherit;
}

.sidebar-menu .main-menu a{
	border-bottom: 1px solid rgb(71,71,71);
}

.sidebar-menu .main-menu ul li a {
	padding-left:110px;
	line-height:0.5em;
}

/* ====================
This is for images into division of Discover Create and Feature
==============*/

.discover-image img{
width:100%;
max-height:500px;
display:block;

}

.create-image img{
width:100%;
max-height:325px;
display:block;


}

.onimage-title{
background:black;
width:100%;
opacity:0.85;
max-height:85px;
position:absolute;
bottom:0;
left:0px;
}

.onimage-title span{

font-Size:33px;
font-weight: bold;
color:white;
margin-left:10px;
}


/* ====================
This is for Boxes under three main img 
==============*/





.skyblue-box{
background:rgb(70,190,194);
border:2px solid rgb(230,230,230);
height:300px;
}


.skybluelogo-image{
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
	width:140px;
}
.skyblue-box-text{
position:absolute;
bottom:0;
//margin-left:5px;
font-Size:3em;
color:white;
font-family:Helvetica Neu Light;
}
/* ====================
Custom Top navigation bar
==============*/
.navbar{
height: 100px;
font-Size: 19px;

}

/* ====================
Custom main-content navigation for event list
==============*/
.eventListNav{
	list-style-type: none;
	width: 50%;
	display: inline-block;
}

.eventListNav li{
	float: left;
}

.eventListNav li a{
	color: purple;
    padding: 0.5em 1em;
    font-size: 1em;
    text-decoration: none;
    margin: 0;
}

.eventListNav li + li a{
    border-left: 0.3em solid purple;
}

.eventListNav .selected{
	font-weight: bold;
	};
}
/* ====================
Custom main-content for ticket page
==============*/
.ticket-header{
	color: purple;
	font-weight: bold;
	margin: 0 0 20px 0px;
}
.ticket-page{
	width: 70%;
	height: 750px;
	margin:20px 0 20px 10px;
	float: left;
	background: white;
}
.ticket{
	height: 2000px;
}
.ticket-sidebar{
	margin: 0;
	padding: 0;
	width: 190px;
	margin-left: 1% !important;
	height: 630px;
	float: left;
	background: white;
	position: relative;
	top:20px;
}
.ticket-paragraph p{
	color: black;
}
.ticket-table{
}
.ticket-logo{
	max-width: 50px;
}
.ticket-seller{
	margin: 0;
	padding: 0;
	max-width: 50%;
}
.ticket-client{
	max-width: 50%;
}
.ticket-sidebar h4{
	color:orange;
	font-weight: bold;
	margin: 10px;
}
/*ticket-sidebar element*/
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	max-width: 100%;
	margin-top: 30px;
}
.sidebar-date img{
	position: relative;
	bottom: 45px;
}
.sidebar-picture{
	max-width: 70%;
	margin-left: 5px;
	margin-right: 25px;
	height: 120px;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
.sidebar-list ul{
	margin: 0px;
	margin-left: 10px;
	padding: 0;
	list-style: none;

}
.sidebar-list ul li span{
	font-weight: bold;
}
/*sidebar button*/
.button{
	margin:5%;

	text-align: center;
}
.button-row-1{
	width: 75px;
	margin: 0 auto;
	margin-left: 5px;
	float: left;
}
.ticket-clear{
	clear: both;
}
.button-row-2{
	width: 75px;
	margin: 0 auto;
	margin-left: 5px;
	margin-top: 5px;
	float: left;

}
.ticke-preview :hover{
	background: orange;

}
.sidebar-video iframe{
	margin-top: 40px;
	margin-left: 10px;
}
/*Confirm button*/
.ticket-confirm-button button{
	float:right;
	height: 100px;
	width: 190px;
	margin-top: 40px;
}
.ticket-confirm-button{
	float: left;
	margin-left: 1%;
}
.ticket-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}
/*media for different size screen*/
@media only screen and (max-width: 1308px){
.ticket-page{
	width: 100%;
	height: 750px;
	margin:20px 0 20px 0px;;
	background: white;
}
.ticket-sidebar h4{
	font-size: 2.2em;
	max-width: 40%;
}
.ticket-sidebar{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
	background: white;
	position: relative;
	top:20px;
}
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	max-width: 40%;
	margin-top: 30px;
}
.sidebar-date img{
	width: 40px;
}
.sidebar-picture{
	padding: 0;
	max-width: 40%;
	margin-left: 5px;
	margin-right: 25px;
	height: 30%;
}
.sidebar-picture img{
	margin:0 auto;
	padding: 0;
	max-width: 100%;
	max-height: 80%;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
.sidebar-list{
	max-width: 40%;
}
.sidebar-list ul{
	max-width: 60%;
	max-height: 20%;
	font-size: 1em;
	margin: 0px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 0;
	list-style: none;

}
.sidebar-list ul li span{
	font-weight: bold;
}
/*sidebar button*/
.button{
	position: relative;
	bottom: 380px;
	padding-right:0%;
	float: right;
}
.button-row-1{
	width: 100px;
	margin: 0 auto;
	margin-left: 5px;
	float: left;
}
.ticket-clear{
	clear: both;
}
.button-row-2{
	width: 100px;
	margin: 0 auto;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}
.sidebar-video{
	max-width: 60%;
	max-height: 100%;
	height: 280px;
	width: 53%;
	float: right;
	position: relative;
	bottom: 400px;
	margin: 0 0 0 0;
}
.sidebar-video iframe{
	width: 90%;
	height: 90%;
	float: right;
	margin: 5%;
}
/*Confirm button*/
.ticket-confirm-button button{
	float:left;
	height: 50px;
	width: 100%;
	margin-top: 40px;
	margin-left: 1%;
}
.ticket-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}

}




@media only screen and (max-width: 1180px){
.sidebar-video iframe{
	width: 250px;
	height: 230px;
	float: right;
	margin: 10px;
}
}

@media only screen and (max-width: 1042px){
.sidebar-video{
	max-width: 60%;
	height: 200px;
	width: 55%;
	float: right;
	position: relative;
	bottom: 360px;
	margin: 0 0 0 0;
}
.sidebar-video iframe{
	width: 90%;
	height: 90%;
	float: right;
	margin: 10px;
}
}

@media only screen and (max-width: 620px){
.ticket-page{
	width: 100%;
	height: 750px;
	margin:20px 0 20px 0px;;
	background: white;
}
.ticket-sidebar h4{
	font-size: 2.2em;
	max-width: 40%;
}
.ticket-sidebar{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 900px;
	background: white;
	position: relative;
	top:20px;
}
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	max-width: 100%;
	margin-top: 30px;
}
.sidebar-date img{
	width: 70px;
}
.sidebar-picture{
	max-width: 80%;
	margin-left: 25px;
	margin-right: 25px;
	height: 250px;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
.sidebar-list{
	max-width: 100%;
}
.sidebar-list ul{
	max-width: 100%;
	max-height: 20%;
	font-size: 1em;
	margin: 0px;
	margin-left: 30px;
	margin-top: 10px;
	padding: 0;
	list-style: none;

}
.sidebar-list ul li span{
	font-weight: bold;
}
/*sidebar button*/
.button{
	width: 90%;
	margin:0 auto;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	height: 80px;
	margin-top: 0px;
	position: absolute;
	bottom: 30%;
}
.button-row-1{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	float: left;
}
.ticket-clear{
	clear: both;
}
.button-row-2{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	float: left;
}
.sidebar-video{
	max-width: 100%;
	width: 100%;
	height: 30%;
	float: left;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0%;
}
.sidebar-video iframe{
	width: 90%;
	height: 90%;
	float: right;
	margin: 5% 5% 5% 5%;
}
/*Confirm button*/
.ticket-confirm-button button{
	float:right;
	height: 50px;
	width: 100%;
	margin-top: 40px;
}
.ticket-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}

}

@media only screen and (max-width: 620px){

/* ====================
Custom main-content navigation for event list x-small
==============*/
.button-eventDropDown{
	float: left;
}

}
.ticke-preview :hover{
	background: orange;


}
.sidebar-video iframe{
	margin-top: 40px;
	margin-left: 10px;
}
/*Confirm button*/
.ticket-confirm-button button{
	float:right;
	height: 100px;
	width: 190px;
	margin-top: 40px;
}
.ticket-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}

/* ====================
Custom main-content for Calendar page
==============*/
.calendar-topbar{
	list-style: none;
	padding: 0;
}
.calendar-topbar li a{
	color: purple;

	float: left;
	margin: 0;
	padding: 0;
}
.eventListNavxs li a:hover{
	color: purple; 
}

/* ====================
Custom main-content navigation for input field and search button
==============*/
.event-list-search{
	display: inline;
	float: right;
	width: 100%;
	height: 1.1em;
}
.searchBar{
	float: right;
}
.event-list-search-input{
	display: inline-block;
	height: 31px;
}
.searchBtn{
	display: inline-block;
	position: relative;
	left: 190px;
	bottom: 36px;
	float: right;
}

.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
/* ====================
Custom main-content event list table
==============*/

@media screen and (min-width:1px){
.event-list-table-heading tr{
	font-size: 9px;
}}
@media screen and (min-width:970px){
.event-list-table-heading tr{
	font-size: 7px;
}}
@media screen and (min-width:1053px){
.event-list-table-heading tr{
	font-size: 7px;
}}
@media screen and (min-width:1113px){
.event-list-table-heading tr{
	font-size: 8px;
}}
@media screen and (min-width:1131px){
.event-list-table-heading tr{
	font-size: 9px;
}}
@media screen and (max-width: 1100px){
.eventListNav li a:nth-child(odd){
	font-size: 10px;
}}
@media screen and (min-width:1262px){
.event-list-table-heading tr{
	font-size: 12px;
}}
@media screen and (min-width:1280px){
.event-list-table-heading tr{
	font-size: 13px;
}}
@media screen and (min-width:1343px){
.event-list-table-heading tr{
	font-size: 15px;
}}

.tab-pane{
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}
/* ====================
Custom main-content event list table "create" button
==============*/
.button-create{
	float: right;
	position: relative;
	bottom: 18px;
} 
.button-create-btn{
	-webkit-border-radius:3em / 1em;
	-moz-border-radius:3em / 1em;
	border-radius:3em / 1em;
}
.button-creat-clear{
	clear:both;
}

	text-decoration: none;
}
.calendar-topbar li{
	float: left;
	font-size: 1.2em;
	padding-left: 5px;
	padding-right: 5px;
}
.calendar-item1{
	font-weight: bold;
	border-right: 2px purple solid;
	margin-left: 0;

}
.calendar-total{
	position: relative;
	bottom:10px;
}
.calendar-page{
	width: 70%;
	height: 700px;
	margin:20px 0 20px 10px;
	float: left !important;
	background: white;
	padding: 2% 1%;
}
#calendar-content{
	padding: 1% !important;
}
#calendar-sidebar{
	margin-left: 1%;
	padding: 0;
	width: 190px;
	height: 100%;
	float: left;
	background: white;
	position: relative;
	top:20px;
}
#calendar-sidebar h4{
	color:orange;
	font-weight: bold;
	margin: 10px;
}
#calendar-button{
	margin:5%;
	text-align: center;
}
.calendar-confirm-button button{
	float:left;
	margin-left: 1%;
	height: 100px;
	width: 190px;
	margin-top: 40px;
}
.calendar-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}

/*media for different size screen*/
@media only screen and (max-width: 1308px){
.ticket-page{
	width: 100%;
	height: 750px;
	margin:20px 0 20px 0px;;
	background: white;
}
.ticket-sidebar h4{
	font-size: 2.2em;
	max-width: 40%;
}
.ticket-sidebar{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
	background: white;
	position: relative;
	top:20px;
}
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	max-width: 40%;
	margin-top: 30px;
}
.sidebar-date img{
	width: 40px;
}
.sidebar-picture{
	padding: 0;
	max-width: 40%;
	margin-left: 5px;
	margin-right: 25px;
	height: 30%;
}
.sidebar-picture img{
	margin:0 auto;
	padding: 0;
	max-width: 100%;
	max-height: 80%;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
.sidebar-list{
	max-width: 40%;
}
.sidebar-list ul{
	max-width: 60%;
	max-height: 20%;
	font-size: 1em;
	margin: 0px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 0;
	list-style: none;

}
.sidebar-list ul li span{
	font-weight: bold;
}
/*sidebar button*/
.button{
	position: relative;
	bottom: 380px;
	padding-right:0%;
	float: right;
}
.button-row-1{
	width: 125px;
	margin: 0 auto;
	margin-left: 5px;
	float: left;
}
.ticket-clear{
	clear: both;
}
.button-row-2{
	width: 125px;
	margin: 0 auto;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}
.sidebar-video{
	max-width: 60%;
	max-height: 100%;
	height: 280px;
	width: 51%;
	float: right;
	position: relative;
	bottom: 390px;
	margin: 0 2.5% 0 0;
}
.sidebar-video iframe{
	width: 90%;
	height: 90%;
	float: right;
	margin: 5%;
}
/*Confirm button*/
.ticket-confirm-button button{
	float:right;
	height: 50px;
	width: 100%;
	margin-top: 40px;
}
.ticket-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}
.calendar-page{
	width: 95%;
	height: 750px;
	margin:15px 2.5% 20px 2.5%;;
	background: white;
}
#calendar-sidebar{
	margin: 0 2.5%;
	padding: 0;
	width: 95%;
	height: 400px;
	background: white;
	position: relative;
	top:20px;
}
#calendar-button{
	float: right;
	max-width: 70%;
	height: 70px;
	max-height: 100%;
	margin: 5% 5% 7% 0;
	position: relative;
	bottom: 350px;
}
.calendar-confirm-button button{
	float:right;
	height: 50px;
	width: 95%;
	margin: 0 2.5%;
	margin-top: 40px;
}
.calendar-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}

}




@media only screen and (max-width: 1180px){
.sidebar-video{
	position: relative;
	bottom: 325px;
}
.sidebar-video iframe{
	width: 250px;
	height: 230px;
	float: right;
	margin: 10px;
}
#calendar-button{
	float: right;
	max-width: 50%;
	height: 70px;
	max-height: 100%;
	margin-right: 5%;
	position: relative;
	bottom: 325px;
}
#calendar-button{
	
}
.button-row-1{
	width: 95px;
}
.button-row-2{
	width: 95px;
}
}

@media only screen and (max-width: 1042px){
.sidebar-video{
	max-width: 60%;
	height: 200px;
	width: 55%;
	float: right;
	position: relative;
	bottom: 325px;
	margin: 0 0 0 0;
}
.sidebar-video iframe{
	width: 90%;
	height: 90%;
	float: right;
	margin: 10px;
}
}

@media only screen and (max-width: 620px){
.ticket-page{
	width: 100%;
	height: 750px;
	margin:20px 0 20px 0px;;
	background: white;
}
.ticket-sidebar h4{
	font-size: 2.2em;
	max-width: 40%;
}
.ticket-sidebar{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 900px;
	background: white;
	position: relative;
	top:20px;
}
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	max-width: 100%;
	margin-top: 30px;
}
.sidebar-date img{
	width: 70px;
}
.sidebar-picture{
	max-width: 80%;
	margin-left: 25px;
	margin-right: 25px;
	height: 250px;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
	.sidebar-list{
		max-width: 100%;
	}
	.sidebar-list ul{
		max-width: 100%;
		max-height: 20%;
		font-size: 1em;
		margin: 0px;
		margin-left: 30px;
		margin-top: 10px;
		padding: 0;
		list-style: none;

	}
	.sidebar-list ul li span{
		font-weight: bold;
	}
/*sidebar button*/
	.button{
		width: 90%;
		margin:0 auto;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		height: 80px;
		margin-top: 0px;
		position: absolute;
		bottom: 30%;
	}
	.button-row-1{
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 5px;
		float: left;
	}
	.ticket-clear{
		clear: both;
	}
	.button-row-2{
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 5%;
		float: left;
	}
	.sidebar-video{
		max-width: 100%;
		width: 100%;
		height: 30%;
		float: left;
		text-align: center;
		position: absolute;
		bottom: 0px;
		left: 0%;
	}
	.sidebar-video iframe{
		width: 90%;
		height: 90%;
		float: right;
		margin: 5% 5% 5% 5%;
	}
/*Confirm button*/
	.ticket-confirm-button button{
		float:right;
		height: 50px;
		width: 100%;
		margin-top: 40px;
	}
	.ticket-confirm-button button span{
		font-size: 1.5em;
		font-weight: bold;
	}
	#calendar-sidebar{
		margin: 0 2.5%;
		padding: 0;
		width: 95%;
		height: 900px;
		background: white;
		position: relative;
		top:20px;
	}
	#calendar-sidebar h4{
		color:orange;
		font-weight: bold;
		margin: 10px;
	}
	#calendar-button{
		max-width: 100%;
		width: 90%;
		margin:0 auto;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		height: 80px;
		margin-top: 0px;
		position: absolute;
		bottom: 35%;
	}
	.calendar-confirm-button button{
		float:right;
		height: 50px;
		width: 95%;
		margin: 0 2.5%;
		margin-top: 40px;
	}
	.calendar-confirm-button button span{
		font-size: 1.5em;
		font-weight: bold;
	}
}




/*contentlisting page*/
.conlist-nav{
	font-size: 1.5em;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
}
.conlist-nav li{
	font-size: 0.7em;	
	color: purple;
	float: left;
	margin: 0 2%;
}
.list-1{
	border-right: 1px gray solid;
	padding-right: 1%;
}
#conlist-search{
	position: relative;
	bottom:2px;
}
#conlist-search input{
	font-size: 0.8em;
	height: 9px;
	border-radius: 15px;
	  -moz-border-radius:15px; 
    -webkit-border-radius:15px;

}
#conlist-search button{
	font-size: 0.7em;
	color: purple;
	float: right;
	position: relative;
	bottom: 16px;
	right: 10px;
}
#conlist-search ul{
	position: relative;
	left: 45px;
	bottom: 1px;
	float: right;
	min-width: 50px;
	margin: 0;
	text-align: center;
}
.gallery{
	width: 100%;
	float: left;
	height: 130px;
}
.gallery-row-1{
	
}
.gallery-1{
	float: left;
	width: 30%;
	margin: 1%;
}
.conlist-gallery{
	width: 100%;
	position: absolute;
	top: 20px;
}
.gallery-paragraph{
	width: 100%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background: rgba(0,0,0,0.7);
	height: 32px;
	position: relative;
	top: 100px;
}
.gallery-paragraph p{
	color: white;
	font-size: 0.3px;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding:0;
	position: absolute;
}
.gallery-paragraph p span{
	float: right;
	font-weight: bold;
}
.main-body{
	height: 600px;
}
#conlist-top{
	padding:0 !important;
}
.gallery-1 a{
	position: relative;
	bottom: 123px;
	left: 83%;
}
.list-2{
	border-right: 1px gray solid;
	padding-right: 1%;
	margin: 0 0 0 1% !important;
}
.conlist-row2{
	padding-left: 20%;
}
.conlist-sideborder{
	padding: 0 !important;
}
.conlist-side{
	width: 95%;
	margin: 10px 0 0 5%;
	height: 450px;
	background: white;
}
.conlist-sidebar-picture{
	width: 50%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	height: 180px;
	float: left;
}
.conlist-sidebar-picture img{
	height: 160px;
}
.conlist-sidebar-list ul{
	list-style: none;
}
.conlist-sidebar-date h4{
	font-weight: bold;
	color: orange;
}
.conlist-sidebar-date h4 span{
	float: right;
	color: gray;
}
.conlist-sidebar-date p{
	font-weight: bold;
	font-size: 1.3em;
}
.conlist-button{
	margin:8% 5% 3% 5%;
	padding-left: 3%;
	text-align: center;
	height: 75px;
}
.conlist-button-row-1{
	width: 40%;
	margin: 0 auto;
	margin-left: 3%;
	float: left;
}
.conlist-button-row-2{
	width: 40%;
	margin: 0 auto;
	margin-left: 3%;
	margin-top: 3%;
	float: left;
}
.conlist-sidebar-video{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.conlist-sidebar-video iframe{
	margin-top: 0px;
	margin-left: 10px;
}
.conlist-content{
	height: 500px;
}
.conlist-submit{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
    -webkit-border-radius:15px;
}
.conlist-icon{
	float: right;
}
.conlist-categories{
	font-weight: bold;
}
.conlist-panel{
	height: 100px;
}
.slider-button{
	font-size: 0.2em;
	text-align: center;
	margin: 0 auto;
	float: right;
	max-height: 20px;
	max-width: 50px;
}
.conlist-slider-button{
	margin: 0 auto;
	float: right;
	margin-bottom: 10px;
}
#slide-search input{
	color: white;
	background: #E6E6E6;
	font-size: 0.8em;
	height: 9px;
	border-radius: 15px;
	  -moz-border-radius:15px; 
    -webkit-border-radius:15px;
}
#slide-search h5{
	color: black;
}
.conlist-panel-control{
	padding-bottom: 0px;
}
.conlist-panel-control-calendar{
	margin-left: -15px !important;
	margin-right: -30px  !important;
	height: 223px;
}
.recomend-head{
	padding: 10px;
	height: 65px;
	margin-right: 0;
	width: 100%;
	color: white;
	background: black;
}
.recomend-head h3{
	width: 50%;
	margin: 0;
	margin-top: 10px;
	float: left;
}
.recomend-head a{
	color: white;
	float: right;
}
#recomend-a-1{
}
#recomend-a-2{
	position: relative;
	top:20px;
	left: 45px;
}
.recomend-img{
	padding: 0;
}
.recomended{
	width: 100%;
}
.recomand-gallery{
	margin-top: 5px;
	height: 120px;
}
.recomend-badge{
	float: right;
	position: relative;
	right: -120px;
	top: 20px;
}
.conlist-clear-a{
	float: right;
	z-index: 10;
	margin-right: 10px;
	position: relative;
	bottom: 30px;
}
.conlist-clear-a a{
	font-size:2px;
	color: gray;
}
.conlist-col-1{
	width: 30%;
	margin-right: 1.55555%;
}
.conlist-col-2{
	width: 30%;
	margin-left: 1.5555%;
}
.conlist-col12{
	padding: 0;
}
.conlist-col12-head{
	margin: 0 !important;
}
.conlist-col12 form{
	padding-top: 0 !important;
}
@media only screen and (max-width: 1305px){
	.conlist-top-menu{
		padding: 0;
	}
	.conlist-row2{
		padding-left: 10%;
	}
	.conlist-panel-hidden{
		display: none;
	}
	.conlist-panel-control-calendar{
		margin-left: -20% !important;
		margin-right: -20% !important;
	}

}
@media only screen and (max-width: 1271px){
	.conlist-panel-hidden{
		display: block;
	}
	.conlist-side{
		height: 500px;
		margin-bottom: 20px;
	}
	.conlist-nav li{
		font-size: 0.5em;
	}
	.conlist-row2{
		padding-left: 6%;
	}
	.conlist-panel-control-calendar{
		width: 80%;
		margin-right:10% !important;
		margin-left: 10% !important; 
	}
	.conlist-col-1{
		width: 45%;
		margin-right: 5%;
	}
	.conlist-col-2{
		width: 45%;
		margin-left: 2.5%;
	}
	.conlist-col-3{
		width: 100%;
		position: relative;
		top:150px;
	}
	.conlist-calendar{
		width: 100%;
	}
	.recomend{
		margin-bottom: 100px;
		position: relative;
	}
	.conlist-group-selection{
		height: 1800px;
	}

}
@media only screen and (max-width: 770px){
	.conlist-sideborder{
		position: relative;
		top:330px;
		width: 100%;
	}
	.conlist-side{
		width: 100%;
		margin-left: 0;
	}
	.main-body{
		height: 900px !important;
	}
	.conlist-page-contain{
		height: 5500px;
	}
	.conlist-gallery{
		position: absolute;
		top:20px;
		left: 15px;

	}
	.conlist-top-menu{
		width: 30%;
		float: left;
		margin-left: 10%;
	}
	.conlist-top-search{
		width: 60%;
		float: right;
	}
	.conlist-col-1{
		width: 100%;
		padding: 0;
		height: 800px;
		position: relative;
		top:400px;
	}
	.conlist-col-2{
		width: 100%;
		padding: 0;
		height: 840px;
		margin-right: 5%;
		margin-left: 0;
		position: relative;
		top:400px;
	}
	.conlist-col-3{
		position: relative;
		top:400px;
	}
	.recomend{
		
	}
	.conlist-footer{
		position: relative;
		top:00px;
	}
	.conlist-col12-head{
		height: 60px;
	}
	.conlist-custom{
		height: 60px;
	}
	.conlist-group-selection{
		height: 3000px;
	}
	.recomand-gallery{
		height: 100%;
	}
}


@media only screen and (min-width: 1400px){
	.conlist-side{
		height: 475px;
	}
	.conlist-group-selection{
		margin-top: 20px;
	}

}

@media only screen and (min-width: 1800px){
	.conlist-side{
		height: 500px;
	}
	.conlist-group-selection{
		margin-top: 50px;
	}

}

/* ====================
Custom main-content event list with picutres page 
==============*/

/* ====================
Custom main-content event list with picutres page pictures 
==============*/
.event-list-page-main{
	max-width: 1353px;
}
.event-list-page-with-pictures-main{
	float: left;
	max-width: 80%;
}

.event-list-pictures{
	padding-top:2.5%;
	padding-right: 0;
	background: white;
	width: 34em;
}

.onimage-title-event-list-picture{
width:100%;
background:black;
opacity:0.85;
max-height:40px;
position:absolute;
bottom:0px;
left:0px;
}

.onimage-title-event-list-picture span{
font-Size:11px;
font-weight: bold;
color:white;
margin-left:10px;
}

.event-list-pictures-each-column{
	width: 31.5%;
	margin: 0;
	padding: 0.4%;
}

.event-list-page-with-pictures{
	width:70%;
}

.event-list-pictures-main{
	width: 46em;	
}
.event-list-pictures-each-column-clear{
	clear: both;
}

.event-list-picture-first-row{
	margin-top: 0;
	padding-top: 0;
}
/* ====================
Custom main-content event list with picutres page side bars
==============*/
/* ====================
Custom main-content event list with picutres page search addictions 
==============*/
.event-list-search{
	display: inline;
	width: 80%;
	height: 1.1em;
	margin: -20px 85px -200px 0;
}
.addiction-search-input{
	display: inline-block;
	height: 1.8em;
	width:29.7%;
	position: absolute;
	left: 35em;
	bottom: 47.5em;
}
.addiction-search-button{
	position: absolute;
	left: 98%;
	bottom:46.5em;
}
.search-bar-with-side-bars{
	float: left;
	max-width: 20%;
}
/*event-list-page-with-pictures-sidebar element*/
.event-list-page-with-pictures-searchBtn{
	position: relative;
	right: 9.2em;
	bottom: -0.2em
}
.sidebar-date{
	margin-left: 10px;
	font-weight: bold;
	max-width: 100%;
}
.sidebar-date img{
	position: relative;
	bottom: 45px;
}
.sidebar-picture{
	max-width: 70%;
}
.sidebar-picture-price{
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
.sidebar-list ul{
	margin: 0px;
	margin-left: 10px;
	padding: 0;
	list-style: none;

}
.sidebar-list ul li span{
	font-weight: bold;
}
/*sidebar button*/
.event-list-with-pictures-button{
	margin:5%;
	text-align: center;
	position: relative;
	left: -1em;
}
.event-list-with-pictures-button-row-1{
	width: 45%;
	margin: 0 auto;
	margin-left: 3%;
	float: left;
}
.event-list-page-with-pictures-clear{
	clear: both;
}
.event-list-with-pictures-button-row-2{
	width: 45%;
	margin: 0 auto;
	margin-left: 3%;
	margin-top: 5px;
	float: left;
}
.ticke-preview :hover{
	background: orange;

}
.event-list-page-with-pictures-sidebar{
	position: relative;
}
.event-list-page-with-pictures-sidebar-video{
	height: 100px;
	max-width: 14em;
}
.event-list-page-with-pictures-sidebar-video iframe{
	margin-top: 5%;
	height: 7em;
	margin-left: 10px;
	width: 98%;
}
/*Confirm button*/
.event-list-page-with-pictures-confirm-button button{
	height: 4.8%;
	width: 16em;
	position:absolute;
	float: left;
	left: 31em;
	bottom: 12em;
	margin-top:3em;
	margin-left: 4.5em;
}
.event-list-page-with-pictures-confirm-button button span{
	font-size: 1.5em;
	font-weight: bold;
}


}.ticket-header{
	color: purple;
	font-weight: bold;
	margin: 0 0 20px 0px;
}
.ticket-page{
	width: 70%;
	height: 1000px;
	margin:20px 0 20px 10px;
	float: left;
	background: white;
}
.ticket{
	height: 2000px;
}
.event-list-page-with-pictures-sidebar{
	margin: 0;
	padding: 0;
	width: 29%;
	height: 51em;
	float: left;
	background: white;
	position: absolute;
	bottom:-4em;
	left: 35em;
}
.ticket-paragraph p{
	color: black;
}
.ticket-table{
}
.ticket-logo{
	max-width: 50px;
}
.ticket-seller{
	margin: 0;
	padding: 0;
	max-width: 50%;
}
.ticket-client{
	max-width: 50%;
}
.event-list-page-with-pictures-sidebar h4{
	color:orange;
	font-weight: bold;
	margin: 5px 10px 0 10px;
}
.event-list-page-with-pictures-empty-div{
	position: relative;
	top: 1000px;
}
/* ====================
Custom main-content event list with picutres page addiction side bar 
==============*/
@media screen and (max-width: 1288px){
.addiction-search-button{
left: 104%;
}
}
@media screen and (max-width: 1230px){
.addiction-search-button{
left: 108%;
}
}
@media screen and (max-width: 1190px){
.addiction-search-button{
left: 112%;
}
}
@media screen and (max-width: 1140px){
.addiction-search-button{
left: 118%;
}
}
@media screen and (max-width: 1110px){
.addiction-search-button{
left: 122%;
}
}
@media screen and (max-width: 1085px){
.addiction-search-input{
	position: relative;
	left: 6em;
	bottom: 2.5em;
	width: 260%;
}
.event-list-page-with-pictures-searchBtn{
position: relative;
left: 0;
top: 0.5em;
padding-right: 0;
}
.event-list-page-with-pictures-sidebar{
	bottom:16em;
}
.event-list-page-with-pictures{
	width: 55%;
	padding-bottom: 0;
	margin-bottom: 0;
	padding: 2em 2em 0 2em;
}
.event-list-picture-first-rowes{
max-width: 100%;
float: none;
}
.event-list-search{
position: relative;
right: 42%;
}
.search-bar-with-side-bars{
max-width: 60%;
width: 80%;
margin: 0 10%;
position: relative;
bottom: 200%;
}
.event-list-page-with-pictures-sidebar{
width: 200%;
position: relative;
left: -4em;
bottom: 3em
}
.event-list-page-with-pictures-confirm-button button{
	position: absolute;
	width: 31em;
	left: -8.5em;
	bottom: 4em;
	height: 5em;
}
.event-list-page-with-pictures-sidebar-video{
	height: 110px;
	max-width: 200em;
	width: 31em;
	position: relative;
	left: -.5em;
}
.event-list-with-pictures-button{
	position: relative;
	left: -3em;
}
}
@media screen and (max-width: 1050px){
.addiction-search-button{
	position: absolute;
	left: 280%;
	bottom: 80%;
}
.addiction-search-input{
	position: relative;
	left: 6em;
	bottom: 2.5em;
	width: 260%;
}
.event-list-page-with-pictures-searchBtn{
position: relative;
left: 0;
top: 0.5em;
padding-right: 0;
}
.event-list-page-with-pictures-confirm-button button{
	position: absolute;
	bottom: 7em;
}
}

@media screen and (max-width: 875px){
.event-list-picutres{
	width: 30%;
}
}
@media screen and (max-width: 768px){
.addiction-search-button{
	position: relative;
	left: 175%;
	bottom: 4em
}
.addiction-search-input{
	position: absolute;
	width: 380%;
	left: -17em;
	bottom: 2em;
}
.event-list-page-with-pictures-confirm-button{
	width: 90%;
	position: relative;
	left: 30%;
	bottom: 20%;
}
}

@media screen and (max-width: 768px){
.event-list-page-with-pictures-confirm-button button{
	position: relative;
	left: -11.5em;
	bottom: 17em;
	width: 28em;
}
.event-list-page-with-pictures-sidebar-video{
	position: relative;
	left: 3em;
}
.event-list-page-with-pictures-sidebar-video iframe{
	position: relative;
	left: 10%;
	height: 8em;
	width: 85%;
}	
.event-list-page-with-pictures-main{
	float: none;
}
.event-list-page-with-pictures-sidebar{
	float: left;
	padding-bottom: 60px;
	margin-bottom: 70px;
}
.search-bar-with-side-bars{
	max-width: 80%;
	z-index: 10;
}
.event-list-search{
	width: 100%;
}
.event-list-pictures-main{
	width: 260%;
	padding-right: 5%;
}
.event-list-pictures-images{
	width: 100%;
}
.event-list-page-with-pictures{
	padding:1% 1% 0 4%;
}
.event-list-page-with-pictures-sidebar{
width: 130%;
position: relative;
left: -15%;
}
.addiction-search-input{
	position: absolute;
	left: -10em;
	width: 310%;
}
}
@media screen and (max-width: 760px){
.event-list-page-with-pictures{
	padding-left:5%;
	padding-top: 3%;
}
.event-list-pictures-images{
	width: 300%;
}
.onimage-title-event-list-picture{
	width: 300%;
	text-align: center;
}
}
@media screen and (max-width: 570px){
.addiction-search-input{
	position: absolute;
	left: -2em;
	width: 230%;
}
.event-list-page-with-pictures-confirm-button button{
	position: relative;
	left: -12.5em;
	bottom: 23em;
	width: 23em;
}
}
@media screen and (max-width: 480px){
.event-list-page-with-pictures-sidebar-video{
	position: relative;
	left: -5em;
}
.addiction-search-input{
	position: absolute;
	left: 2em;
	width: 200%;
}
}
@media screen and (max-width: 400px){
.event-list-page-with-pictures-confirm-button button{
	width: 20em;
}
}

/* ====================
Custom main-content for ticket details page 
==============*/
/* ====================
Custom main-content for ticket details page left side huge image 
==============*/
.onimage-title-ticket-details-image{
	width:25%;
	background:white;
	opacity:0.85;
	max-height:40px;
	height: 32px;
	position:absolute;
	top:0px;
	font-weight: bold;
	text-align: center;
	padding-top: 2%;
	font-size: 1.3em;
}
/* ====================
Custom main-content for ticket details page middle little images 
==============*/
.img-ticket-details-ticket-little-images{
	margin-bottom: 11px;
}
/* ====================
Custom main-content for get addictied column 
==============*/
.skyblue-box-for-ticket-details{
	height: 75px;
}
.skybluelogo-image-for-ticket-details{
	position: relative;
	width: 60px;
	left: 20%;
}
.skyblue-box-text-for-ticket-details{
	font-size: 200%;
	top: 4%;
	left: 38%;
	font-weight: bold;
}
/* ====================
Custom main-content for ticket details page right side other event 
==============*/
.ticket-details-event-name{
	height: 4em;
	background:white;
	margin-top: 2px;
	width: 90%;
	position: absolute;
	right: 10%;
}
.ticket-details-event-name-h1{
	position: relative;
	bottom: 30%;
}
#ticket-details-event-name-h1{
	font-size: 180%;
	font-weight: bold;
	color: orange;
}
.ticket-details-event-name-h2{
	position: relative;
	bottom: 32%;
	left: 2%;
}
#ticket-details-event-name-h2{
	font-size: 160%;
	color: gray;
	font-weight: bold;
	opacity: 0.4;
}
/* ====================
Custom main-content for ticket details page right side event details 
==============*/
.ticket-details-event-details{
	background-color: white;
	margin-top: 4.5em;
	height: 13em;
	margin-bottom: 8px;
}
.ticket-detail-page-table-panel{
	height: 17em !important;
}
.ticket-details-event-details h1{
	padding-top: 0.8em;
	padding-left : 0.8em;
	font-size: 180%;
	font-weight: bold;
	margin-bottom: 0;
}
.ticket-details-event-details h2{
	padding-top: 0.3em;
	padding-left : 0.8em;
	font-size: 180%;
	font-weight: bold;
	margin-top: 0;
}
.ticket-details-event-details ul{
	list-style: none;
	padding-left: 1.6em;
	font-size: 14px;
	font-weight: 400;
}
.ticket-details-event-details ul li{
	font-weight: bold;
}
/* ====================
Custom main-content for ticket details page event details about 
==============*/
.panel-title-event-detail-about{
	font-size: 28px;
	font-weight: bold;
	margin:0;
	padding:0;
}
.panel-heading-event-detail-about{
	padding:5px !important;
}
.panel-body-event-detail-about-first-paragraph{
	color: black;
	font-weight: bold;
}
.panel-body-event-detail-about p{
	color: black !important;
}
/* ====================
Custom main-content for ticket details page ticket purchase table 
==============*/
.event-details-register-button{
	position: relative;
	float: right;
	width: 11.3em;
	height: 3.5em;
}
/* ====================
Custom main-content for ticket details page promoter pictures 
==============*/
.chart-item-bg-event-details-promoter-pictures{
	padding: 0 2px;
}
.chart-item-bg-event-details-promoter-pictures img{
	height: 20em;
}
/* ====================
Custom main-content for ticket details page media query 
==============*/
@media screen and (max-width: 1280px){
	#ticket-details-event-name-h1{
		font-size: 140%;
	}
	#ticket-details-event-name-h2{
		font-size: 120%;
	}
}	
@media screen and (max-width: 1220px){
	.skyblue-box-for-ticket-details{
		font-size: 90%;
	}
}
@media screen and (max-width: 1150px){
	.skyblue-box-for-ticket-details{
		font-size: 80%;
	}
	#ticket-details-event-name-h1{
		font-size: 120%;
	}
	#ticket-details-event-name-h2{
		font-size: 90%;
	}
}
@media screen and (max-width: 1060px){
		.skyblue-box-text-for-ticket-details{
			font-size: 1.7em;
		}
		.ticket-detail-page-table-panel td{
			font-size: .6em;
		}
}
/* ====================
Custom main-content for ticket details page xsmall 
==============*/
@media screen and (max-width: 3000px){
	.ticket-detail-page-hidden-at-xs{
		display:inline;
	}
	.ticket-detail-page-show-at-xs{
		display: none;
	}
}
@media screen and (max-width: 800px){
	.ticket-detail-page-hidden-at-xs{
		display: none;
	}
	.ticket-detail-page-show-at-xs{
		display:inline;
	}
}
/* ====================
Custom main-content for ticket details page xsmall top part 
==============*/
.event-list-detail-page-top-big-picture{
	width: 120%;
}
.event-list-detail-page-top-big-picture img{
	width: 100%;
	height: 23em;
	display:block;
	margin:auto;
	position: absolute;
	left: 0;
	top: 0;
}
.onimage-title-ticket-details-image-xs{
	position: relative;
	top: 10em;
	right: 1.2em;
	height: 230px;
	padding: 5px;
	background: white;
}
.onimage-title-ticket-details-image-xs-div{
	height: 40em;
}
.onimage-title-ticket-details-image-price-xs{
	position: relative;
	left: 104%;
	top: -13em;
	width: 3.6em;
}
/* ====================
Custom main-content for ticket details page xsmall ticket info 
==============*/
.ticket-details-event-name-h1-xs{
	position: relative;
	left: -0.5em;
	top: 9em;
	font-size: 2.2em;
	color: orange;
	font-weight: bold;
}
.ticket-details-event-name-h2-xs{
	position: relative;
	left: .8em;
	top: 10.5em;
	font-size: 2em;
	font-weight: bold;
	color: gray;
	opacity: 0.4;
	display: inline;
}
.event-list-detail-page-first-row-div{
	height: 370px;
}
/* ====================
Custom main-content for ticket details page xsmall time and location, get addicted 
==============*/
.ticket-details-event-details-div{
	height: 20em;
}
.skyblue-box-for-ticket-details-xs{
	height: 120px;
	width: 120px;
	text-align: center;
}
.skybluelogo-image-for-ticket-details-xs{
	position: relative;
	top: -110px;
	width: 50px;
}
.skyblue-box-text-for-ticket-details-xs{
	font-size: 20px;
	width: 20%;
	top: 23em;
	left: 24px;
	font-weight: bold;
	height: 60px;
}
@media only screen and(max-width: 498px){
.skyblue-box-text-for-ticket-details-xs{
		font-size: 16px;
	}
}
/* ====================
Custom main-content for ticket details page xsmall ticket purchase details
==============*/
.ticket-details-event-details-xs{
	background-color: white;
	width: 80%;
	margin-top: 4.5em;
	height: 13em;
	margin-bottom: 8px;
	position: relative;
	left: 10em;
	bottom: 14em;
}
.ticket-details-event-details-xs h1{
	padding-top: 0.8em;
	padding-left : 0.8em;
	font-size: 180%;
	font-weight: bold;
	margin-bottom: 0;
}
.ticket-details-event-details-xs h2{
	padding-top: 0.3em;
	padding-left : 0.8em;
	font-size: 180%;
	font-weight: bold;
	margin-top: 0;
}
.ticket-details-event-details-xs ul{
	list-style: none;
	padding-left: 1.6em;
	font-size: 14px;
	font-weight: 400;
}
.ticket-details-event-details-xs ul li{
	font-weight: bold;
}
.ticket-detail-page-ticket-info-table-general-xs{
	position: absolute;
	top: 8em;
	left: 11.2em;
}
.ticket-detail-page-ticket-info-table-quantity-xs{
	min-width: 43px;
	width: 43px;
	position: absolute;
	top: 22em;
	left: 11.2em;	
}
.ticket-detail-page-ticket-info-table-xs-first-row{
	margin-top: 8px;
}
/* ====================
Custom main-content for ticket details page xsmall ticket purchase info
==============*/
.ticket-detail-page-table-panel-xs{
	height: 32em;
	width: 113%;
	border-radius: 5%;
	background-color: rgb(187,231,232);
}
.panel-heading-detail-page-xs{
	background-color: rgb(187,231,232);
	border-bottom: dotted !important;
}
.panel-heading-detail-page-xs span{
	font-weight: bold;
}
.ticket-detail-page-ticket-info-table-xs{
	border-right: 1px ridge;
	width: 100px;
	border-color: rgb(178,182,184);
}
.event-detail-page-ticket-info-table-price-explaination-xs{
	position: relative;
	left: 65%;
	top: 4.8em;
	font-size: 10px;
}
.ticket-detail-page-ticket-purchase-table-xs td{
	border-bottom: none !important;
}
/* ====================
Custom main-content for ticket details page xsmall map
==============*/
.event-details-xs-map img{
	position: relative;
	bottom: 6em;
	width: 113%;
}
/* ====================
Custom main-content for ticket details page xsmall about
==============*/
.event-details-xs-about-div{
	position: relative;
	bottom: 5em;
	width: 113%;
}