           /*This is CSS which is for event-Creat page*/
.event-creat-main-content{

}
.clear{
	clear:both;
}
.Adbord-left{
	width: 55%;
	float: left;
	margin-right: 5%;
}
.Adbord-right{
	width: 40%;
	float: left;
}
.Adbord-CAS{
	margin-bottom: 0px;
}
.Adbord-CAS img{
	width: 100%;
}
.Adbord-map{
	margin: 0;
}
.Adbord-map img{
	margin-top: -15px;
	width: 100%;
	height: 100%;
}
.CAS-warning{
	display: inline;
	position: relative;
	bottom: 18px;
}
.get-add{
	font-size: 1.7em;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
	float: left;
	width: 100%;
	height: 100px;
}
.dies img{
	width: 50px;
}
.dies{
	float: left;
	max-width: 40%;
	margin: 0 auto;
	padding: 0;
}
.get-add span{
	margin-right: 10px;
}
.panel-control{
	margin-top: 5px;
}
.photo-width{
	width: 20%;
	height: 100%;
	float: left;
}
.photo-width img{
	width: 100%;
	border-radius: 50%;
}
.photo-row-1{
	height: 43px;
}
.photo-row-2{
	height: 50px;
	padding-bottom: 7px;
	border-bottom: 2px solid gray;
}