.top-content{
	
}

.right{
	width: 100%;
	//max-height: 550px;
	background: white;
}
.middle-image{
	width: 98%;
	height: 16.5%;
}
.middle-image img{
	width: 100%;
	height: 100%;
}
.pad-top{
	}
.pad-bottom{
	
}
.plus-logo-middle{
	color: white;
	width: 49px;
	height: 20px;
	position: relative;
	bottom: 19px;
}
.plus-logo-middle div{
	width: 30%;
	height: 100%;
	padding-left: 2px;
	padding-top: 2px;	
	background: red;
	float: left;
}
.pad-panel{
	padding: 0px;
	padding-top: 20px;
}
.heading-control{
	margin-left: 0 !important;
	margin-right: 0  !important;
	width: 100%;
}

.eventPoster{
border:2px solid;
float :left;
margin-left:5%;
height:350px;
width:350px;
}

.margin-form{
	margin-left: 5%;
	margin-right: 5%;
}
#event-name{
	width: 42.5%;
	float: left;
	margin-right: 2.5%;
	margin-bottom: 5px;
}
#main-select{
	  width: 21%;
	  float: left;
	  margin: 0px;
	  margin-left: 5%;
	  margin-bottom: 5px;
}
#sub-select{
	  width: 21%;
	  float: left;
	  margin: 0;
	  margin-left: 0.5%;
	  margin-bottom: 5px;
}
#address{
	width: 42.5%;
	float: left;
	margin-right: 2.5%;
	margin-bottom: 5px;
}
#city-select{
	  width: 21%;
	  float: left;
	  margin: 0px;
	  margin-left: 5%;
	  margin-bottom: 5px;
}
#state-select{
	width: 21%;
	  float: left;
	  margin: 0;
	  margin-left: 0.5%;
	  margin-bottom: 5px;
}
.timings{
	width:58%;
	margin-left:5%;
	float: left;
	//border: 2px solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px;
	max-height:245px;
	overflow:auto;
}
.datepicker{
	float:left;
	width:65%;
}
.timepicker{
	float:left;
	width:35%;
}

.startDate{
	width: 42.5%;
	float: left;
	margin-left: 5%;
	margin-bottom: 5px;
}
.endDate{
	width: 42.5%;
	float: left;
	margin-left: 5%;
	margin-bottom: 5px;
}

#addMore{
margin-left: 5%;
}

#saveAndContinue{
	margin-bottom:5px !important;
	margin-right:5px !important;
}
.button-form-1{
	width: 42.5%;
	float: left;
	margin-right: 2.5%;
	margin-bottom: 5px;
}
.button-form-2{
	width: 42.5%;
	float: left;
	margin-left: 2.5%;
	margin-bottom: 5px;
}
.schedule-repeats{
	color: orange;
}
.schedule-repeats-load{
	height: 80px;
	border: 1px solid gray;
	margin-bottom: 20px;
}
.td-row-3{
	width: 80%;
}
.td-row-1{
	width: 100%;
}
.td-row-2{
	width: 100%;
}
.table-ticket td{
	width: 25%;
}
.margin-icon{
	margin-left: 10px;
}
.text-bold{
	font-weight: bold;
}
.promop{
	height: 350px;
}
.width-33{
	width: 33.3%;
	float: left;
}
.width-33 img{
	width: 100%;
}
.plus-for-pro{
	color: white;
	width: 138.25px;
	height: 60px;
	position: relative;
	bottom: 60px;
}
.plus-div-1{
	width: 13%;
	height: 40%;
	padding-left: 2px;
	padding-top: 2px;	
	background: red;
	float: left;
}
.plus-div-2{
	width: 82%;
	height: 40%;
	padding-left: 30px;
	background: black;
}
.At-name{
	background: gray;
	width: 114px;
	height: 60%;
	padding: 5px;
}
.At-name input{
	color: black;
	text-align: center;
	width: 100%;
	height: 90%;
	-webkit-border-radius:10px;
}
#panel-descr{
	width: 92.5%;
	margin-left:5%;
	height: 120px;
	margin-bottom:10px;
	margin-top:10px;
}
.describ{
	height: 100px;

}
#ticketArea{

}

.media{
height: auto;
}
.mediaVid{
	width: 47.5%;
	margin:5px;
	margin-right:2.5%;
	max-height:395px;
//	border: 2px solid;
	overflow:auto;
	float:left;
}

.mediaAud{
	width: 47.5%;
	margin:5px;
	overflow:auto;
	max-height:395px;
//	border: 2px solid;
	float:left;
}

.mediaInner{
		width:95%;
		margin: 10px;
		
}
.innerMediaHeading{

}
.mediaInput{
	width: 90%;
	margin: 5px;
}
@media only screen and (max-width: 1160px){
.top-content{
	//height: 800px;
}
.right{
	margin-top: 10px;
	width: 100%;
}
.bruha-logo{
	width: 70%;
}
.middle{
	width: 30%;
}
.heading-control{
	height: 60px;
}
.control-head-change{
	height: 60px;
}
.margin-icon{
	margin: 0;
}
}